$black: #555555;

$ff-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$container-width: 630px;

@mixin mobile {
	@media ( max-width: $container-width+18 ) {
		@content;
	}
}

@mixin desktop {
	@media only screen and ( min-width: $container-width+18+1 ) {
		@content
	}
}
