.m_legal {
	&-text {
		font-family: $ff-sans;
		font-size: 11px;
		line-height: 12px;
		color: $black;
		text-align: center;
		@include mobile {
			font-size: 12px !important;
			line-height: 14px !important;
		}
		&_pad {
			height: 15px;
		}
	}
	&-copyright {
		font-family: $ff-sans;
		font-size: 11px;
		line-height: 14px;
		color: $black;
		text-align: center;
		@include mobile {
			font-size: 12px !important;
			line-height: 16px !important;
		}
	}
	&-link {
		color: blue;
		text-decoration: none;
		&:hover {
			text-decoration: underline !important;
		}
	}
	&-side_pad {
		width: 24px;
		@include mobile {
			width: 18px !important;
		}
	}
}
