@mixin button($params) {
	&-v {
		height: map_get($params, 'height');
		width: map_get($params, 'width');
		v-text-anchor: middle;
		stroke: f;
		arcsize: map_get($params, 'border-radius');
		fillcolor: map_get($params, 'background-color');
	}
	&-a {
		display: inline-block;
		text-align: center;
		text-decoration: none;
		-webkit-text-size-adjust: none;
		width: map_get($params, 'width');
		line-height: map_get($params, 'height');
		background-color: map_get($params, 'background-color');
		border-radius: map_get($params, 'border-radius');
		@content;
	}
}
